.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #378934;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #031d24;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html body {
  font-family: 'Roboto', sans-serif;
 }
 
 a,
 button {
     font-family: 'Roboto Condensed', sans-serif;
 }
 
 h1 {
     color: rgb(25, 17, 45);
     font-size: 50px;
 }
 
 h2 {
     font-size: 25px;
 }
 
 h3 {
     font-size: 20px;
 }
 
 
 h2,h3 {
     color: rgb(190, 117, 48);
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: 'Bebas Neue', cursive;
 }
 
 p {
     color: #000;
     font-size: 16px;
 }
 
 .green-button {
     background-color: #09BC8A;
     color: #fff;
     margin-top: 20px;
 }

 @media screen and (max-width: 600px) {
  div#navbarTogglerDemo02 {
    display: none;
  }
}
